# NFL Match Data - Super Bowl History

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("Data/processed_game_history.csv", parse_dates=["Date"])

In [14]:
sb_games = df[df["Week"] == "Super Bowl"]
sb_games = sb_games.drop("Week", axis=1)

In [15]:
print(f"Number of Super Bowl games that have been played: {sb_games.shape[0]}")
print(f"Number of Super Bowls played in January: {len(sb_games[sb_games['Date'].dt.month == 1])}")
print(f"Number of Super Bowls played in February: {len(sb_games[sb_games['Date'].dt.month == 2])}")
print(f"Number of Super Bowls played in March: {len(sb_games[sb_games['Date'].dt.month == 3])}")

Number of Super Bowl games that have been played: 55
Number of Super Bowls played in January: 36
Number of Super Bowls played in February: 19
Number of Super Bowls played in March: 0

In [16]:
print(f"Largest Super Bowl win margin: {sb_games['PtsMargin'].max()} pts")
print(f"Smallest Super Bowl win margin: {sb_games['PtsMargin'].min()} pts")
print(f"Average Super Bowl win margin: {sb_games['PtsMargin'].mean():.2f} pts")

Largest Super Bowl win margin: 45 pts
Smallest Super Bowl win margin: 1 pts
Average Super Bowl win margin: 14.05 pts

In [17]:
sb_games.head()

,Unnamed: 0,Rk,Day,Date,Winner/tie,AtHome,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL,HomeTeam,Season,PtsMargin,TieGame,ModifiedWeek
183,183,184,Sun,2002-02-03,New England Patriots,N,St. Louis Rams,20,17,267.0,0.0,427.0,3.0,New England Patriots,2001,3,0,21
670,670,177,Sun,2008-02-03,New York Giants,N,New England Patriots,17,14,338.0,1.0,274.0,1.0,New York Giants,2007,3,0,21
1327,1327,112,Sun,2005-02-06,New England Patriots,N,Philadelphia Eagles,24,21,331.0,1.0,369.0,4.0,New England Patriots,2004,3,0,21
1531,1531,19,Sun,1971-01-17,Baltimore Colts,N,Dallas Cowboys,16,13,329.0,7.0,217.0,4.0,Baltimore Colts,1970,3,0,17
1904,1904,114,Sun,2016-02-07,Denver Broncos,N,Carolina Panthers,24,10,194.0,2.0,315.0,4.0,Denver Broncos,2015,14,0,21