In [2]:
import pandas as pd
import time
import re

In [2]:
all_games = pd.read_html("https://www.pro-football-reference.com/boxscores/game-scores.htm")

In [7]:
all_games_df = pd.DataFrame(all_games[0])

In [8]:
all_games_df

,Rk,Score,PtsW,PtsL,PtTot,PD,Count,Unnamed: 7,Last Game
0,1,20-17,20,17,37,3,272,all games,"Kansas City Chiefs vs. New York Giants, Novemb..."
1,2,27-24,27,24,51,3,222,all games,"Los Angeles Chargers vs. Philadelphia Eagles, ..."
2,3,17-14,17,14,31,3,198,all games,"Cleveland Browns vs. Denver Broncos, October 2..."
3,4,23-20,23,20,43,3,191,all games,"Jacksonville Jaguars vs. Miami Dolphins, Octob..."
4,5,24-17,24,17,41,7,169,all games,"Tennessee Titans vs. Chicago Bears, November 8..."
...,...,...,...,...,...,...,...,...,...
1064,1065,59-16,59,16,75,43,1,all games,"St. Louis Rams vs. Atlanta Falcons, November 1..."
1065,1066,57-31,57,31,88,26,1,all games,"St. Louis Rams vs. San Diego Chargers, October..."
1066,1067,54-51,54,51,105,3,1,all games,"Los Angeles Rams vs. Kansas City Chiefs, Novem..."
1067,1068,39-27,39,27,66,12,1,all games,"Baltimore Ravens vs. Indianapolis Colts, Decem..."
1068,1069,50-43,50,43,93,7,1,all games,"Los Angeles Chargers vs. New York Titans, Dece..."

In [12]:
WinScores = all_games_df["PtsW"].tolist()
LossScores = all_games_df["PtsL"].tolist()

In [1]:
WinScores

NameError: name 'WinScores' is not defined

In [45]:
#out_df = pd.DataFrame(columns=['Rk', 'Week', 'Day', 'Date', 'Unnamed: 4', 'Winner/tie', 'Unnamed: 6',
#       'Loser/tie', 'Unnamed: 8', 'PtsW', 'PtsL', 'YdsW', 'TOW', 'YdsL',
#       'TOL'])
counter = 1
for W, L in zip(WinScores[991:], LossScores[991:]):
    temp_df = pd.read_html(f"https://www.pro-football-reference.com/boxscores/game_scores_find.cgi?pts_win={W}&pts_lose={L}")[0]
    out_df = out_df.append(temp_df)
    num_rows = len(out_df)
    print(f"Added: {W} - {L}, Number: {counter}, No_Lines: {num_rows}")
    counter += 1
    time.sleep(0.5)

Added: 19 - 19, Number: 1, No_Lines: 16869
Added: 42 - 40, Number: 2, No_Lines: 16870
Added: 52 - 13, Number: 3, No_Lines: 16871
Added: 24 - 8, Number: 4, No_Lines: 16872
Added: 64 - 0, Number: 5, No_Lines: 16873
Added: 44 - 42, Number: 6, No_Lines: 16874
Added: 59 - 28, Number: 7, No_Lines: 16875
Added: 55 - 27, Number: 8, No_Lines: 16876
Added: 57 - 33, Number: 9, No_Lines: 16877
Added: 43 - 18, Number: 10, No_Lines: 16878
Added: 43 - 43, Number: 11, No_Lines: 16879
Added: 41 - 26, Number: 12, No_Lines: 16880
Added: 44 - 37, Number: 13, No_Lines: 16881
Added: 65 - 24, Number: 14, No_Lines: 16882
Added: 48 - 35, Number: 15, No_Lines: 16883
Added: 46 - 14, Number: 16, No_Lines: 16884
Added: 41 - 39, Number: 17, No_Lines: 16885
Added: 66 - 0, Number: 18, No_Lines: 16886
Added: 45 - 23, Number: 19, No_Lines: 16887
Added: 39 - 29, Number: 20, No_Lines: 16888
Added: 36 - 18, Number: 21, No_Lines: 16889
Added: 39 - 30, Number: 22, No_Lines: 16890
Added: 21 - 8, Number: 23, No_Lines: 16891
Added: 44 - 15, Number: 24, No_Lines: 16892
Added: 51 - 13, Number: 25, No_Lines: 16893
Added: 19 - 5, Number: 26, No_Lines: 16894
Added: 8 - 6, Number: 27, No_Lines: 16895
Added: 33 - 9, Number: 28, No_Lines: 16896
Added: 48 - 33, Number: 29, No_Lines: 16897
Added: 46 - 31, Number: 30, No_Lines: 16898
Added: 27 - 18, Number: 31, No_Lines: 16899
Added: 44 - 11, Number: 32, No_Lines: 16900
Added: 58 - 27, Number: 33, No_Lines: 16901
Added: 50 - 24, Number: 34, No_Lines: 16902
Added: 58 - 48, Number: 35, No_Lines: 16903
Added: 49 - 9, Number: 36, No_Lines: 16904
Added: 35 - 2, Number: 37, No_Lines: 16905
Added: 49 - 40, Number: 38, No_Lines: 16906
Added: 42 - 26, Number: 39, No_Lines: 16907
Added: 45 - 30, Number: 40, No_Lines: 16908
Added: 65 - 20, Number: 41, No_Lines: 16909
Added: 40 - 15, Number: 42, No_Lines: 16910
Added: 38 - 38, Number: 43, No_Lines: 16911
Added: 51 - 28, Number: 44, No_Lines: 16912
Added: 11 - 0, Number: 45, No_Lines: 16913
Added: 5 - 3, Number: 46, No_Lines: 16914
Added: 54 - 7, Number: 47, No_Lines: 16915
Added: 24 - 5, Number: 48, No_Lines: 16916
Added: 49 - 39, Number: 49, No_Lines: 16917
Added: 56 - 31, Number: 50, No_Lines: 16918
Added: 46 - 13, Number: 51, No_Lines: 16919
Added: 52 - 33, Number: 52, No_Lines: 16920
Added: 42 - 15, Number: 53, No_Lines: 16921
Added: 59 - 24, Number: 54, No_Lines: 16922
Added: 33 - 8, Number: 55, No_Lines: 16923
Added: 62 - 10, Number: 56, No_Lines: 16924
Added: 33 - 15, Number: 57, No_Lines: 16925
Added: 47 - 31, Number: 58, No_Lines: 16926
Added: 56 - 35, Number: 59, No_Lines: 16927
Added: 45 - 25, Number: 60, No_Lines: 16928
Added: 58 - 14, Number: 61, No_Lines: 16929
Added: 42 - 39, Number: 62, No_Lines: 16930
Added: 49 - 25, Number: 63, No_Lines: 16931
Added: 40 - 18, Number: 64, No_Lines: 16932
Added: 54 - 11, Number: 65, No_Lines: 16933
Added: 27 - 2, Number: 66, No_Lines: 16934
Added: 32 - 9, Number: 67, No_Lines: 16935
Added: 39 - 21, Number: 68, No_Lines: 16936
Added: 44 - 22, Number: 69, No_Lines: 16937
Added: 49 - 16, Number: 70, No_Lines: 16938
Added: 52 - 25, Number: 71, No_Lines: 16939
Added: 52 - 37, Number: 72, No_Lines: 16940
Added: 54 - 14, Number: 73, No_Lines: 16941
Added: 59 - 16, Number: 74, No_Lines: 16942
Added: 57 - 31, Number: 75, No_Lines: 16943
Added: 54 - 51, Number: 76, No_Lines: 16944
Added: 39 - 27, Number: 77, No_Lines: 16945
Added: 50 - 43, Number: 78, No_Lines: 16946

In [68]:
out_df = out_df.rename(columns={"Unnamed: 6": "AtHome"})
out_df.to_csv("historic_match_scores.csv")

In [9]:
out_df = pd.read_csv("historic_match_scores.csv")
out_df["Date"] = out_df["Date"].astype("datetime64") 
out_df["Week"] = [row.lstrip().rstrip() for row in out_df["Week"].astype("str")]

In [50]:
# PtsW - Points scored by the winning team
# PtsL - Points score by the losing team
# YdsW - Yards gained by the winning team
# YdsL - Yards gained by the losing team
# TOW - Turnovers by winning Team
# TOL - Turnovers by losing Team

In [4]:
def get_home_team(Winner, Loser, AtHome):
    if AtHome == "@":
        HomeTeam = Loser
    else:
        HomeTeam = Winner
    
    return HomeTeam

In [10]:
out_df["HomeTeam"] = out_df.apply(lambda row : get_home_team(row["Winner/tie"],
                                  row["Loser/tie"], row["AtHome"]), axis = 1)

In [6]:
def get_season(DateField):
    """This function parses the given match date to process and the return the year of the season being played.

    Args:
        DateField (datetime): The column/field that contains the date that the match was played upon

    Returns:
        Int: The year of the season being played
    """
    if (DateField.month >= 1) & (DateField.month <= 3):
        SeasonYear = DateField.year -1
    else:
        SeasonYear = DateField.year
    return SeasonYear

In [11]:
out_df["Season"] = out_df.apply(lambda row : get_season(row["Date"]), axis = 1)

### Wild Card
* Added in 1978 (March), being the 1977 season

## 2020 Season

In [8]:
df_2020 = out_df[out_df["Season"] == 2020]
df_2020["Week"] = [row.lstrip().rstrip() for row in df_2020["Week"].astype("str")]

/Users/alessiomorteo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [98]:
print(f"Number of games played: {len(df_2020)}")

Number of games played: 269

In [104]:
df_2020.groupby(["Week"]).size().reset_index().rename(columns={0:'count'}).sort_values(by="count", ascending=False)

           Week  count
0             1     16
6            15     16
9             2     16
8            17     16
7            16     16
10            3     16
5            14     16
3            12     16
4            13     15
11            4     15
2            11     14
1            10     14
12            5     14
13            6     14
14            7     14
15            8     14
16            9     14
20    Wild Card      6
18     Division      4
17  Conf. Champ      2
19   Super Bowl      1

### Week Types

In [12]:
unique_weeks = {}
for season in out_df["Season"].unique():
    unique_weeks[season] = {}
    temp_df = out_df[out_df["Season"] == season]
    weeks_found = temp_df["Week"].unique().tolist()
    unique_weeks[season] = [str(i) for i in weeks_found]

In [13]:
all_time_unique = sorted({x for v in unique_weeks.values() for x in v})

In [14]:
out_df["Week"] = out_df["Week"].replace("Conf. Champ", "Champ")

### Max Month

In [15]:
max_week = {}
for season in out_df["Season"].unique():
    max_week[season] = {}
    temp_df = out_df["Week"][out_df["Season"] == season].astype("str")
    week_values = [int(i) for i in temp_df if not re.search('[a-zA-Z]', i)]
    #week_values = [int(i) for i in week_values]
    max_week[season] = max(week_values)

In [21]:
unique_weeks[1978]

['2',
 '8',
 '9',
 '11',
 '13',
 '14',
 '15',
 '5',
 '7',
 '3',
 '4',
 '12',
 '1',
 '16',
 '6',
 'Division',
 '10',
 'Wild Card',
 'Conf. Champ',
 'Super Bowl']

### Replacement Keys

In [22]:
week_correction_dict = {}
for season in max_week.keys():
    week_correction_dict[season] = {}
    temp_unique_weeks = unique_weeks[season]
    temp_max_weeks = max_week[season]
    
    if (season < 1966):
        week_correction_dict[season]["Division"] =temp_max_weeks + 1
        week_correction_dict[season]["Champ"] = temp_max_weeks + 2
    elif (season >= 1966) & (season <= 1978):
        week_correction_dict[season]["Division"] =temp_max_weeks + 1
        week_correction_dict[season]["Champ"] = temp_max_weeks + 2
        week_correction_dict[season]["Super Bowl"] = temp_max_weeks + 3
    else:
        week_correction_dict[season]["Wild Card"] = temp_max_weeks + 1
        week_correction_dict[season]["Division"] =temp_max_weeks + 2
        week_correction_dict[season]["Champ"] = temp_max_weeks + 3
        week_correction_dict[season]["Super Bowl"] = temp_max_weeks + 4

In [23]:
week_correction_dict

{1944: {'Division': 14, 'Champ': 15},
 1947: {'Division': 16, 'Champ': 17},
 1951: {'Division': 13, 'Champ': 14},
 1952: {'Division': 13, 'Champ': 14},
 1954: {'Division': 14, 'Champ': 15},
 1955: {'Division': 13, 'Champ': 14},
 1956: {'Division': 14, 'Champ': 15},
 1959: {'Division': 13, 'Champ': 14},
 1961: {'Division': 16, 'Champ': 17},
 1962: {'Division': 16, 'Champ': 17},
 1964: {'Division': 16, 'Champ': 17},
 1965: {'Division': 16, 'Champ': 17},
 1966: {'Division': 17, 'Champ': 18, 'Super Bowl': 19},
 1967: {'Division': 18, 'Champ': 19, 'Super Bowl': 20},
 1968: {'Division': 16, 'Champ': 17, 'Super Bowl': 18},
 1969: {'Division': 15, 'Champ': 16, 'Super Bowl': 17},
 1970: {'Division': 15, 'Champ': 16, 'Super Bowl': 17},
 1971: {'Division': 15, 'Champ': 16, 'Super Bowl': 17},
 1972: {'Division': 15, 'Champ': 16, 'Super Bowl': 17},
 1973: {'Division': 15, 'Champ': 16, 'Super Bowl': 17},
 1974: {'Division': 15, 'Champ': 16, 'Super Bowl': 17},
 1975: {'Division': 15, 'Champ': 16, 'Super Bowl': 17},
 1976: {'Division': 15, 'Champ': 16, 'Super Bowl': 17},
 1977: {'Division': 15, 'Champ': 16, 'Super Bowl': 17},
 1978: {'Division': 17, 'Champ': 18, 'Super Bowl': 19},
 1979: {'Wild Card': 17, 'Division': 18, 'Champ': 19, 'Super Bowl': 20},
 1980: {'Wild Card': 17, 'Division': 18, 'Champ': 19, 'Super Bowl': 20},
 1981: {'Wild Card': 17, 'Division': 18, 'Champ': 19, 'Super Bowl': 20},
 1982: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 1983: {'Wild Card': 17, 'Division': 18, 'Champ': 19, 'Super Bowl': 20},
 1984: {'Wild Card': 17, 'Division': 18, 'Champ': 19, 'Super Bowl': 20},
 1985: {'Wild Card': 17, 'Division': 18, 'Champ': 19, 'Super Bowl': 20},
 1986: {'Wild Card': 17, 'Division': 18, 'Champ': 19, 'Super Bowl': 20},
 1987: {'Wild Card': 17, 'Division': 18, 'Champ': 19, 'Super Bowl': 20},
 1988: {'Wild Card': 17, 'Division': 18, 'Champ': 19, 'Super Bowl': 20},
 1989: {'Wild Card': 17, 'Division': 18, 'Champ': 19, 'Super Bowl': 20},
 1990: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 1991: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 1992: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 1993: {'Wild Card': 19, 'Division': 20, 'Champ': 21, 'Super Bowl': 22},
 1994: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 1995: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 1996: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 1997: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 1998: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 1999: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2000: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2001: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2002: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2003: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2004: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2005: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2006: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2007: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2008: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2009: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2010: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2011: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2012: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2013: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2014: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2015: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2016: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2017: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2018: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2019: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2020: {'Wild Card': 18, 'Division': 19, 'Champ': 20, 'Super Bowl': 21},
 2021: {'Wild Card': 10, 'Division': 11, 'Champ': 12, 'Super Bowl': 13},
 1939: {'Division': 14, 'Champ': 15},
 1948: {'Division': 16, 'Champ': 17},
 1949: {'Division': 15, 'Champ': 16},
 1953: {'Division': 13, 'Champ': 14},
 1958: {'Division': 13, 'Champ': 14},
 1960: {'Division': 16, 'Champ': 17},
 1963: {'Division': 17, 'Champ': 18},
 1933: {'Division': 14, 'Champ': 15},
 1935: {'Division': 14, 'Champ': 15},
 1940: {'Division': 14, 'Champ': 15},
 1941: {'Division': 15, 'Champ': 16},
 1946: {'Division': 16, 'Champ': 17},
 1950: {'Division': 14, 'Champ': 15},
 1957: {'Division': 14, 'Champ': 15},
 1938: {'Division': 14, 'Champ': 15},
 1925: {'Division': 15, 'Champ': 16},
 1936: {'Division': 14, 'Champ': 15},
 1942: {'Division': 14, 'Champ': 15},
 1929: {'Division': 14, 'Champ': 15},
 1945: {'Division': 13, 'Champ': 14},
 1924: {'Division': 11, 'Champ': 12},
 1921: {'Division': 14, 'Champ': 15},
 1926: {'Division': 15, 'Champ': 16},
 1934: {'Division': 14, 'Champ': 15},
 1937: {'Division': 15, 'Champ': 16},
 1922: {'Division': 12, 'Champ': 13},
 1932: {'Division': 15, 'Champ': 16},
 1920: {'Division': 14, 'Champ': 15},
 1930: {'Division': 15, 'Champ': 16},
 1931: {'Division': 15, 'Champ': 16},
 1923: {'Division': 12, 'Champ': 13},
 1927: {'Division': 14, 'Champ': 15},
 1928: {'Division': 14, 'Champ': 15},
 1943: {'Division': 14, 'Champ': 15}}

In [106]:
def assign_non_standard_game_number(data, season):
    """Assign corrected week number to post-league games.

    Args:
        data (DataFrame): A dataframe containing the row for one league year only.
    """
    temp_df = data[data["Season" == season]]
    num_weeks = unique_weeks[season]
    highest_week = max_week[season]

    has_wild_card = 1

    non_standard_df = data[~data["OriginalWeek"] in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]]

    for i, j in enumerate(data["Week"]):
        if j == "Wild Card":
            has_wild_card 
            return final_week + post_game_max
        if row["Week"] == "Wild Card":
            new_week = final_week + post_game_max

,Rk,Week,Day,Date,Unnamed: 4,Winner/tie,AtHome,Loser/tie,Unnamed: 8,PtsW,PtsL,YdsW,TOW,YdsL,TOL,HomeTeam,Season
216,217,Wild Card,Sat,2021-01-09,W,Buffalo Bills,NaN,Indianapolis Colts,boxscore,27,24,397,0,472,0,Buffalo Bills,2020
112,113,Wild Card,Sun,2021-01-10,W,Baltimore Ravens,@,Tennessee Titans,boxscore,20,13,401,1,209,1,Tennessee Titans,2020
46,47,Wild Card,Sat,2021-01-09,W,Los Angeles Rams,@,Seattle Seahawks,boxscore,30,20,333,0,278,2,Seattle Seahawks,2020
32,33,Wild Card,Sat,2021-01-09,W,Tampa Bay Buccaneers,@,Washington Football Team,boxscore,31,23,507,1,375,1,Washington Football Team,2020
15,16,Wild Card,Sun,2021-01-10,W,New Orleans Saints,NaN,Chicago Bears,boxscore,21,9,385,1,239,0,New Orleans Saints,2020
0,1,Wild Card,Sun,2021-01-10,W,Cleveland Browns,@,Pittsburgh Steelers,boxscore,48,37,390,0,553,5,Pittsburgh Steelers,2020

## Super Bowl History